.todo-card {
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.todo-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-style: none;
  margin-bottom: 0.75rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-task-button {
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  background-color: inherit;
  padding-top: 0.5rem;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(107 114 128);
}