<div class="todo-card">
  <input class="todo-title" [placeholder]="'Title'" size="2" />
  <div class="todo-list">
    <div *ngFor="let todoItem of findUncheckedTasks()">
      <app-todo-item
        *ngIf="!todoItem.checked"
        [(checked)]="todoItem.checked"
        [(text)]="todoItem.text"
        [id]="todoItem.id"
        (deleteEvent)="deleteTask($event)"
      ></app-todo-item>
    </div>
    <button class="add-task-button" (click)="addTask()">
      <span class="material-symbols-outlined"> add_circle </span>
      <span>Add a Task</span>
    </button>
    <div *ngFor="let todoItem of findCheckedTasks()">
      <app-todo-item
        *ngIf="todoItem.checked"
        [(checked)]="todoItem.checked"
        [(text)]="todoItem.text"
        [id]="todoItem.id"
        (deleteEvent)="deleteTask($event)"
      ></app-todo-item>
    </div>
  </div>
</div>
