.todo-card {
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  min-height: 8rem;
}

.todo-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-style: none;
  margin-bottom: 0.75rem;
  width: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-task-button {
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  background-color: inherit;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: rgb(107 114 128);
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.add-task-button:hover {
  color: rgb(0 0 0);
}

.delete-card-button {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: -0.25rem;
  margin-right: -0.75rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.delete-card-button:hover {
  color: rgb(239 68 68);
}

button {
  border-style: none;
  background-color: inherit;
  cursor: pointer;
  color: rgb(75 85 99);
  min-width: 0px;
}

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }
