.task {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
}

.task-text {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 100%;
  flex-grow: 1;
  resize: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-style: none;
  font-size: 1.125rem;
  color: rgb(55 65 81);
}

.task-text.checked {
  color: rgb(107 114 128);
  text-decoration-line: line-through;
}

button {
  border-style: none;
  background-color: inherit;
  cursor: pointer;
  color: rgb(75 85 99); 
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

button.checked {
  color: rgb(107 114 128);
}

.checkbox:hover {
  color: rgb(0 0 0);
}

.delete-button {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.delete-button:hover {
  color: rgb(239 68 68);
}

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }
