<div class="task">
  <span class="checkbox-container"
    ><button
      class="checkbox"
      (click)="toggleCheck()"
      [ngClass]="{ checked: checked }"
    >
      <span
        *ngIf="checked; else uncheckedButton"
        class="material-symbols-outlined md-24"
      >
        check_box
      </span>
      <ng-template #uncheckedButton>
        <span class="material-symbols-outlined md-24">
          check_box_outline_blank
        </span>
      </ng-template>
    </button>
  </span>
  <input
    class="task-text"
    [disabled]="checked"
    [ngClass]="{ checked: checked }"
    [placeholder]="'Your task'"
    [(ngModel)]="text"
    #ctrl="ngModel"
    (input)="updateText()"
    size="1"
  />
  <button class="delete-button" (click)="deleteTask()">
    <span class="material-symbols-outlined md-24"> delete </span>
  </button>
</div>
