.task {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-grow: 1;
  align-items: stretch;
}

.task-text {
  margin-right: 1rem;
  margin-left: 1rem;
  width: 100%;
  flex-grow: 1;
  resize: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-style: none;
  font-size: 1.125rem;
}

button {
  border-style: none;
  background-color: inherit;
}

.material-symbols-outlined.md-18 { font-size: 18px; }
.material-symbols-outlined.md-24 { font-size: 24px; }
.material-symbols-outlined.md-36 { font-size: 36px; }
.material-symbols-outlined.md-48 { font-size: 48px; }
